// Photo gallery start

.photoGallery{
    position: relative;
    margin-bottom: 60px;

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &__item{
        background-color:$fff;
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
        height: 100%;
        position: relative;
        @extend%transition;
        padding-bottom: 20px;
        a{
            height: 100%;
            display: flex;
            align-items:flex-start;
            justify-content: space-between;
            flex-direction: column;
            @extend%transition;
        }

        &:hover{
            .photoGallery__img span{
                opacity: 1;
                z-index: 1;
            }
        }
    }

    &__img{
        @include fiximg(100%,360px,true);
        position: relative;
        margin-bottom: 15px;
        
        img{
            max-height: 360px;
            object-position: center top;
            @extend%transition;
            min-height: 200px;
        }

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            @include fontAll(1.5rem,600,$fff);
            width: 100%;
            height: 100%;
            display: flex;
            align-items:center;
            justify-content: center;
            line-height: 100%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            background: linear-gradient(0deg, rgba(18, 54, 84, 0.6), rgba(18, 54, 84, 0.6));
            z-index: -5;
            opacity: 0;
            @extend%transition;
        }
    }

    &__data{
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 5;
        @include fontAll(1rem,600,$fff);
        line-height: 135%;
        letter-spacing: 0.06em;
        padding: 12px 20px;
        background-color:$fon;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
    }

    &__title__h3{
        @include fontAll(1.5rem,600,$title);
        line-height: 135%;
        text-align: center;
        padding: 0 30px;

        max-height: 97px;
        -webkit-line-clamp: 3;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

// Photo gallery end


// photoGallery_in start

.photoGallery_in{
    position: relative;
    margin-bottom: 60px;
}

.fotogalereya_in{

    &__list1{
        width: 100%;
        height: auto;
        position: relative;

        .slick-arrow{
            font-size: 0;
        }

        .slick-prev{
            width: 50px;
            background-color:transparent;
            height: 50px;
            position: absolute;
            background-color:$fff;
            top: 50%;
            z-index: 10;
            left: 40px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            @extend%transition;
            transform: translate(0,-50%);
            -webkit-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            -o-transform: translate(0,-50%);

            &::after{
                content:'';
                display: inline-block;
                width: 16px;
                height: 14px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66634 8H18.333' stroke='%23123654' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.33301 14.6663L1.66634 7.99967L8.33301 1.33301' stroke='%23123654' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat:no-repeat;
                background-size:contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }

            &:hover{
                opacity: 0.6;
            }
        }

        .slick-next{
            width: 50px;
            background-color:transparent;
            background-color:$fff;
            height: 50px;
            position: absolute;
            top: 50%;
            z-index: 10;
            right: 40px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            @extend%transition;
            transform: translate(0,-50%);
            -webkit-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            -o-transform: translate(0,-50%);
           
            &::before{
                content:'';
                display: inline-block;
                width: 16px;
                height: 14px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3337 8H1.66699' stroke='%23123654' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.667 14.6663L18.3337 7.99967L11.667 1.33301' stroke='%23123654' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat:no-repeat;
                background-size:contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }

            &:hover{
                opacity: 0.6;
            }
        }
    }
    
    &__item1{
        width: 100%;
        height: 650px !important;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            z-index: 1;
        }
    }

    &__item2{
        @include fiximg(200px,150px !important,true);
        @extend%transition;
        position: relative;
        margin: 0 10px;
        cursor: pointer;
    }

    &__list2{
        margin-top: 40px;
        .active{
            position: relative;
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(18, 54, 84, 0.7), rgba(18, 54, 84, 0.7));
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

// photoGallery_in end


@media (max-width:1200px){
    .photoGallery__img{
        height: auto;
    }

    .photoGallery__title__h3 {
        font-size: 1.375rem;
        max-height: 89px;
    }

    .fotogalereya_in__item1{
        height: 600px !important;
    }

    .fotogalereya_in__list2 {
        margin-top: 30px;
    }

    .fotogalereya_in__list1 .slick-next{
        right: 30px;
        width: 40px;
        height: 40px;
    }

    .fotogalereya_in__list1 .slick-prev{
        left: 30px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width:1050px){
    .photoGallery__title__h3 {
        font-size: 1.25rem;
        max-height: 81px;
    }

    .photoGallery__list{
        grid-template-columns: 1fr 1fr;
    }

    .photoGallery__data {
        font-size: 0.875rem;
        padding: 10px 20px;
    }

    .fotogalereya_in__item1{
        height: 500px !important;
    }
}

@media (max-width:850px){
    .fotogalereya_in__item1{
        height: 400px !important;
    }

    .fotogalereya_in__item2 {
        height: 120px !important;
    }

    .fotogalereya_in__list1 .slick-next{
        right: 20px;
    }

    .fotogalereya_in__list1 .slick-prev{
        left: 20px;
    }
}

@media (max-width:650px){
    .photoGallery__list{
        grid-template-columns: 1fr;
    }

    .fotogalereya_in__item1{
        height: 350px !important;
    }
}

@media (max-width:450px){
    .fotogalereya_in__item1{
        height: 300px !important;
    }
}

@media (max-width:400px){
    .fotogalereya_in__item1{
        height: 250px !important;
    }
}